<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Memes{% endblock %}</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="http://www.rw-designer.com/icon-image/6835-256x256x32.png"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'memes/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


</head>
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'memes/style.css'%}"/>
  <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">

          <!-- Header -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'index' %}">Memes</a>
          </div>

          <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                <li><a class="navbar-brand" href="{% url 'creators' %}"><span  aria-hidden="true"></span>&nbsp; Creators</a></li>
                <li><a class="navbar-brand" href="{% url 'search' %}"><span  aria-hidden="true"></span>&nbsp; Search Memes</a></li>
                <li><a class="navbar-brand" href="{% url 'search_creator' %}"><span  aria-hidden="true"></span>&nbsp; Search Creator</a></li>
                <li><a class="navbar-brand" href="{% url 'sort' %}"><span  aria-hidden="true"></span>&nbsp; Sorted by likes</a></li>
                <li><a class="navbar-brand" href="{% url 'sort_creators' %}"><span  aria-hidden="true"></span>&nbsp; Sorted by popularity</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="navbar-brand" href="/change/memes">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Memes
                    </a>
                </li>

            </ul>
        </div>



      </div>
  </nav>
{% block body %}
{% endblock %}
</body>
</html>
