{% extends "memes/base.html"%}

{% block body %}
<div class='creator'>
<h1><font class='font_search'>Nickname  : {{Nickname}}</font></h1>
<h1><font class='font_search'>BirthDate : {{BirthDate}}</font></h1>
<h1><font class='font_search'>Sex       : {{sex}}</font></h1>
<h1><font class='font_search'>Popularity: {{Popularity}}</font></h1>
<h1><font class='font_search'>Sources   :

  {%for source,_ in sources %}

   ({{source}})
  {%endfor%}
  </font></h1>
  <h1><font class='font_search'>Created memes: </font></h1>
</div>
<div class='creator_pics'>
  {%for picture, name in pictures %}

  <div class="inf"> <figure class='inf'> <img class='index_list' src="{{ picture }}" > </img> <figcaption> {{name}}</figcaption></figure> </div>
  {%endfor%}
</div>
{% endblock %}
