{% extends "memes/base.html"%}

{% block body %}
<div class='mem'>
  <img class='mem' src="{{ picture }}" width=500px, height=500px;> </img>
  <h1><font class='font_search'>Mem name: {{name}} </font></h1>
  <h1><font class='font_search'>Mem BirthDate: {{BirthDate}} </font></h1>
  <h1><font class='font_search'>Creator: {{creator}} </font></h1>
  <h1><font class='font_search'>Num of likes: {{likes}} </font></h1>
  <h1><font class='font_search'>Tags:
  {%for tag, _ in tags %}

  ({{tag}})
  {%endfor%} </font></h1>
  </div>
{% endblock %}
