{% extends "memes/base.html"%}

{% block body %}
<div class='search'>
<h1>
  <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'search' %}">
    <h1><font class='font_search'>Creator</font></h1>
  <div class="form-group">
      <input type="text" class="form-control" name="creator" value="{{ request.GET.creator }}">
  </div>
  <h1> <font class='font_search'>Tags</font> </h1>
  <div class="form-group">
      <input type="text" class="form-control" name="tag1" value="{{ request.GET.tag1 }}">
      <input type="text" class="form-control" name="tag2" value="{{ request.GET.tag2 }}">
      <input type="text" class="form-control" name="tag3" value="{{ request.GET.tag3 }}">
      <input type="text" class="form-control" name="tag4" value="{{ request.GET.tag4 }}">
      <input type="text" class="form-control" name="tag5" value="{{ request.GET.tag5 }}">
  </div>
    <h1> <font class='font_search'>Mem name</font> </h1>
      <div class="form-group">
          <input type="text" class="form-control" name="name" value="{{ request.GET.name }}">
      </div>
    <h1> <font class='font_search'>Source</font> </h1>
      <div class="form-group">
          <input type="text" class="form-control" name="source" value="{{ request.GET.source }}">
      </div>
      <h1><font class='font_search'>Spheres</font> </h1>
        <div class="form-group">
            <input type="text" class="form-control" name="sphere1" value="{{ request.GET.sphere1 }}">
            <input type="text" class="form-control" name="sphere2" value="{{ request.GET.sphere2 }}">
            <input type="text" class="form-control" name="sphere3" value="{{ request.GET.sphere3 }}">
        </div>
      <div class='bttn'> <button type="submit" class="btn">
	  </button> </div>
  </form>

</h1>
</div>

  {%if result %}
  <div class="search_res">
  <h1> <font class='font_search'>Result</font> </h1>
    {%for id, picture in result %}
	<br>
	<br>
    <a href="{% url 'mem_inf' id%}"> <img class="index_list" src="{{ picture }}" width=300 height=300 ></a>
    {%endfor%}
  <div>

  {%endif%}


{% endblock %}
