body{
  background : white url("Website-Background.jpg");
  background-size:cover;
}

.navbar{
  border-radius: 0;
}
.navbar-brand{
  font-family: Satisfy;
}

font.font_search {
	font-family: 'Bookman Old Style';
	font-size: 100%;
	font-weight: 600;

}

figure.inf {
	align:center;
}

figure.inf figcaption {
  margin: 0 auto 5px;
  font-family: 'Engravers MT';
  font-weight: 500;
  font-size:120%;
  font-style: italic;
  color: dark grey;
}

img.index_list{
  max-height: 550px;
  padding: 10px;
  max-width: 550px;
  vspace: 0px;
  display: block;
  margin: auto;
  border: 1px solid gray;
  align: center;

}

img.inf{
  max-height: 200;
  width: auto;
  display: block;
}

img.mem {
  width: auto;
  display: block;
}

div.creator {
  margin: 50px;
}

div.creator_pics {
  margin-left: 50px;
}

div.mem {
  width:auto;
  height:600px;
  margin: 50px;
  padding: 50px;
}

div.inf {
  align:center;
  width:600px;
  height:600px;
  float:left;
  margin:auto;
}

button.btn {

	background: url("https://avatanplus.com/files/resources/mid/585c270e8222c15927f890c5.png");
	width: 256px;
	height: 256px;
}

div.bttn {
	margin-top: 10px;
}

div.search {
	float:left;
}

div.search_res {
	margin-top:25px;
	margin-left:250px;
	float:left;
}

input.form-control {

	border: 1px solid gray;
	font-family: 'Agency FB';
	font-size:65%;
	font-weight: 500;
}


ul.border {
list-style-image: url(https://pp.userapi.com/c840422/v840422959/1e667/vyC6baHihiM.jpg);
padding: 65px;
}
ul.border li {
font-family: "Trebuchet MS", "Lucida Sans";
padding: 7px 20px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid #f05d22;
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 20px;
letter-spacing: 2px;
transition: 0.3s all linear;
}
