body{
  background : white url("Website-Background.jpg");
  background-size:cover;
}

.navbar{
  border-radius: 0;
}
.navbar-brand{
  font-family: Satisfy;
}

img.index_list{
  max-height: 100;
  width: auto;
  display: block;
  margin: auto;

}

img.inf{
  max-height: 200;
  width: auto;
  display: block;
}

div.inf {

  padding: 10px;
    margin: auto;
}
